<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/loginstyle.css">
</head>

<body>
    <div id="main">
        <div id="left">
            <div id="welcome-emoji"></div>
            <p>Hey There!</p>
            <p id="p-two">It's Great to Have You Back!</p>
        </div>
        <div id="right">
            
            <div id="form">
                <p>Login</p>
               
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <input id="submit" type="submit" value="login">
                    
                </form>
            </div>
           
        </div>
       
    </div>
</body>
</html>