<%- include ./partials/header.ejs%>
<div class="container">
    <h1 class="mt-5">Reset Your Password:</h1>
    <h3>Enter the email linked with your account. You will recieve a link to reset your password.</h3>
    <form action='/reset/<%=foundUser._id%>/<%=secret%>' method="post">
       
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">New Password</label>
          <input name="password1" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input name="password2" type="password" class="form-control" id="exampleInputPassword1">
          </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
   

<%- include ./partials/footer.ejs%>