*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    
    height: 100vh;
    width: 100%;
  
}

#nav{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0%;
    height: 50px;
    width: 100%;
    color: white;
    background-color: rgb(72, 81, 204);
}

#nav button{
    padding: 10px;
    background-color: brown;
    
}

#nav #leftNav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    font-family: product sans;
    color: white;
}

#main #box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#profilePic{
    position: relative;
    position: absolute;
    bottom: 29%;
    height: 40vh;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

#profilePic #profileBox{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.438);
    display: none;
}

#profilePic a{
    
    width: 100%;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 50%;
    left: 6%;
   
    /* transform: translate(-50%,-50%); */
}

#profilePic:hover #profileBox{
  display: initial;
}

#Username{
    position: absolute;
    bottom: 29%;
    left: 23%;
    font-size: 50px !important;
}

#main h1{

    font-family: ogg;
    font-size: 80px;

    
}

#main h3{
    font-family: ogg;
    font-size: 45px;
}

#main2{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: grey;
}

#main2 #box2{
    margin-left: 30%;
    min-height: 10vh;
    width: 70%;
    background-color: rgb(189, 208, 250);
    border: 1px solid black;
    padding: 20px;

}

button{
    color: black;
}

a{
    color: black;
}